.navItem a {
    text-decoration: none;
    font-size: 1.1em;
}

.navItem a:hover {
    text-decoration: underline;
    background-color: #262626;
}

.navItem a:active {
    text-decoration: none;
}


.navItem {
    list-style: none;
}

.hamburgerNav {
    display: none;
}

.navLink {
    transition: 0.1s ease-out;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}

@media all and (max-width:1000px) {
    #jsnav {
        display: none;
    }

    nav {
        flex-direction: row;
        justify-content: right;
    }

    .hamburger {
        display: block;
        margin: 1em;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .hamburgerNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: -200vw;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 10;
    }

    .navItem {
        margin: 16px 0;
    }

    .hamburgerNav.active {
        top: 66px;
        padding: 0;
        margin: 0;
    }

    .hamburgerNav.active a {
        color: whitesmoke;
    }
}
